{
  "workflows": [
    {
      "name": "javascript",
      "extends": ["git"],
      "commands": [
        "npm init -y",
        "echo node_modules >> .gitignore",
        "wget \"https://github.com/github/gitignore/raw/master/Node.gitignore\" -O ./.gitignore"
      ]
    },
    {
      "name": "express",
      "extends": ["javascript"],
      "commands": [
        "npm install express --save",
        "npm install dotenv --save",
        "npm install helmet cors --save"
      ]
    },
    {
      "name": "flutter",
      "extends": [],
      "commands": ["flutter create --org arnavgosain.com ."]
    },
    {
      "name": "python",
      "extends": ["git"],
      "commands": [
        "python3 -m virtualenv venv",
        "./venv/bin/pip install black jedi neovim mypy pre-commit",
        "wget \"https://github.com/github/gitignore/raw/master/Python.gitignore\" -O ./.gitignore"
      ]
    },
    {
      "name": "typescript",
      "extends": ["javascript"],
      "commands": [
        "echo build >> .gitignore",
        "npm install typescript @types/node --save-dev"
      ]
    },
    {
      "name": "git",
      "extends": [],
      "commands": [
        "git init .",
        "git commit --allow-empty \"Init project\"",
        "git checkout -b main"
      ]
    }
  ]
}

